@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-react-aria-components";
@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Mona Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  scroll-behavior: smooth;
}

html.dark {
  color-scheme: dark;
}

html.light {
  color-scheme: light;
}

body {
  @apply transition-colors duration-200 dark:text-white dark:bg-[#1F2028];
}
